<section class="container">
    <form #fc=ngForm (ngSubmit)="onsubmit(fc)">
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nome" placeholder="nome" name="nome" required>
            <small class="form-text text-muted"></small>
        </div>

        <div class="form-group">
            <label for=""></label>
            <input type="email" class="form-control" [(ngModel)]="usuario.email" placeholder="E-mail" name="email" required>
            <small class="form-text text-muted "></small>
        </div>

        <app-endereco [endereco]=usuario.endereco></app-endereco>

        <div class="form-group">
            <label for=""></label>
            <input type="password" class="form-control" [(ngModel)]="usuario.pws" placeholder="senha" name="pws" required minlength="6" #pws="ngModel">
            <small class="form-text text-danger" *ngIf="pws.invalid && pws.dirty">senha muito curta</small>
        </div>

        <div class="form-group">
            <label for=""></label>
            <input type="password" class="form-control" (ngModel)="conf" placeholder="confirmar senha" name="conf" required #conf="ngModel">
            <small class="form-text text-danger" *ngIf="pws.value != conf.value && pws.dirty">senhas diferentes</small>
        </div>        

        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary ml-2" [disabled]="conf.value != pws.value || fc.invalid">Salvar</button>
            <button type="reset" class="btn btn-primary ml-2">Cancelar</button>
        </div>

    </form>
</section>
<app-list-usuario></app-list-usuario>