<section class="container">
    <table class="table" *ngIf="eventos | async as users">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>tema</th>
            <th>data</th>
            <th>hora</th>
            <th>/</th>
            <th>X</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.tema}}</td>
            <td>{{user.data}}</td>
            <td>{{user.hora}}</td>
            <td routerLink="/addevento/{{user.id}}">/</td>
            <td (click)="apagar(user)">x</td>
        </tr>
    </table>
</section>